* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0; 
    padding: 0;
}

body {
  background-color: #769FB6;
  text-align: center;
}

.outer-div
{
     padding-top: 30px; 
     text-align: center;
     width: 100vw;
     height: 100vh;
     border: 1px solid red;
     background-color: #188FA7;
}

.headerRow {
  text-align: center;
  background-color: #769FB6;
}

h1 {
  text-shadow: 1px 1px 1px gray;
}

.headerRow .col-6 {
  background-color: #769FB6;
}

.bodyRow .col-3{
  background-color: #188FA7;
}

.footerRow {
  text-align: center;
}


.inner-div
{
     padding: 25px; 
     background-color: white;
     border: 0px solid black;
     margin: 0 auto;
     margin-top: 25px;
     height: 75vh;
     width: 75vw;
} 

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* tablet */
@media only screen and (min-width: 600px) {
  .col-m-1 {width: 20%;}
  .col-m-2 {width: 40%}
  .col-m-3 {width: 60%;}
  .col-m-4 {width: 80%;}
  .col-m-5 {width: 100%;}
}

/* desktop */
@media only screen and (min-width: 768px) {
.col-1 {width: 20%;}
.col-2 {width: 40%}
.col-3 {width: 60%;}
.col-4 {width: 80%;}
.col-5 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid black;
}

